<form [formGroup]="userForm">
  <mat-form-field appearance="outline">
    <mat-label>Prénom</mat-label>
    <input matInput formControlName="firstName" required minlength="4" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="lastName" required minlength="4" />
  </mat-form-field>
</form>
